# === PREVENTION FOR ACCIDENTAL PUBLISH ===
registry=https://registry.npmjs.org/
@learningoo:registry=https://registry.npmjs.org/
access=restricted

# Force Sharp to download prebuilt binaries (safer for cloud deployments)
sharp_binary_host=https://github.com/lovell/sharp-libvips/releases/download/
sharp_libvips_binary_host=https://github.com/lovell/sharp-libvips/releases/download/
